<div class="align-center presentation">
  <img class="logo" src="/assets/logo.png">
  <div class="content">
    <p class="be-parents">Vous devenez parents pour la 1ère fois ?</p>
    <p>Des professionnels vous aident en <span>toute confiance.</span></p>
  </div>
</div>
<div class="row home-page">
  <div class="row les-pro">
    <h2 class="align-center">Découvrez les experts</h2>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/pro1.jpg" alt="...">
        <div class="caption">
          <h3>Sages Femmes</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/pro.jpg" alt="...">
        <div class="caption">
          <h3>Auxiliaire de puériculture</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/pro2.jpg" alt="...">
        <div class="caption">
          <h3>Consultante en lactation</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/pro3.jpg" alt="...">
        <div class="caption">
          <h3>Sophrologue</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/pro4.jpg" alt="...">
        <div class="caption">
          <h3>Kinesitherapeutte</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/pro2.jpg" alt="...">
        <div class="caption">
          <h3>Osteopathe</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/pro5.jpg" alt="...">
        <div class="caption">
          <h3>Haptonome</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/pro6.jpg" alt="...">
        <div class="caption">
          <h3>Coach parental</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/pro4.jpg" alt="...">
        <div class="caption">
          <h3>Baby planner</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row pres-video">
    <h2 class="align-center">Pourquoi j'ai créé Kiddizy ?</h2>
    <video class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" controls="controls" src="clip143.m4v">Ici la description alternative</video>
  </div>
  <div class="align-center follow row">
    <h2>SUIVEZ-NOUS</h2>
    <div class="col-sm-2 col-sm-offset-1">
      <a href="" class="link"><i class="fa fa-facebook-official"></i></a>
    </div>
    <div class="col-sm-2">
      <a href="" class="link"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="col-sm-2">
      <a href="" class="link"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="col-sm-2">
      <a href="" class="link"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="col-sm-2">
      <a href="" class="link"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>
