<div class="row home-page">
  <div class="align-center col-xs-10 col-xs-offset-1 presentation">
    <h1>Kiddizy</h1>
    <p>Vous devenez parents pour la 1ère fois ?</p>
    <p>Des professionnels vous aident en toute confiance.</p>
    <button class="pink-button">Comment ça marche ?</button>
  </div>
  <h2 class="align-center">Découvrez les experts</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Sages Femmes</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Auxiliaure de puériculture</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Consultante en lactation</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Sophrologue</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Kinesitherapeutte</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Osteopathe</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Haptonome</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Coach parental</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Baby planner</h3>
          <a href="#" class="btn btn-primary" role="button">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
  <div class="align-center follow row">
    <h2>SUIVEZ-NOUS</h2>
    <div class="col-sm-2 col-sm-offset-1">
      <a href="" class="link">Facebook</a>
    </div>
    <div class="col-sm-2">
      <a href="" class="link">Twitter</a>
    </div>
    <div class="col-sm-2">
      <a href="" class="link">LinkedIn</a>
    </div>
    <div class="col-sm-2">
      <a href="" class="link">Pinterest</a>
    </div>
    <div class="col-sm-2">
      <a href="" class="link">Instagram</a>
    </div>
  </div>
</div>
